.btn {
  width: 180px;
  border-radius: rem(35px);
  border: 2px solid $primary-color;
  line-height: 40px;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  color: $primary-color;
  transition: .2s ease-in-out;
  @media (min-width: $tableWidth) and (max-width: $smDesktopWidth){
    width: 160px;
  }
}
.btn-home {
  display: inline-block;
  text-transform: uppercase;
  font-weight: $boldFontWeight;
  border: 2px solid $primary-color;
}
.btn-shop {
  border: 2px solid #752023;
  color: #752023;
  background-color: white;
}
.btn-home:hover {
  background: $mainFontColor;
  color: $success-color;
}
.btn-shop:hover {
  background: #752023;
  color: white;
}
.btn-product {
  display: block;
  width: 136px;
  font-family: inherit;
  font-size: 16px;
  color: $shopMainColorFont;
  border: 2px solid $shopMainColorFont;
  font-weight: normal;
}
.btn-product:hover {
  background: $shopMainColorFont;
  color: white;
}
