// header style
.wrap-header {
  padding: 0 0 30px 0;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
}
.wrap-header {
  background-color: white;
}
header {
  .nav-menu {
    display: flex;
    justify-content: space-between;
  }
  nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      max-width: 200px;
      margin-right: 30px;

      img {
        width: 100%;
      }

      @media screen and (max-width: $desktopWidth) {
        order: 2;
        position: absolute;
        left: 50%;
        margin-left: -60px;
      }
    }
    .menu {
      display: flex;

      li {
        margin-right: 30px;
      }
      li:after {
        content: '';
        width: 0;
        height: 2px;
        transition: 0.5s;
        display: block;
        background-color: white;
      }
      li:hover:after {
        width: 100%;
      }
      @media screen and (max-width: $desktopWidth) {
        display: none;
        order: 1;
      }
    }
  }
  .nav-phone {
    display: flex;
    @media screen and (max-width: $desktopWidth) {
      display: none;
    }
    span {
      color: $mainFontColor;
    }
  }
  .phone {
    font-weight: bold;
    font-size: rem(18px);
    justify-content: center;
    flex-direction: column;
    span {
      display: block;
      font-style: normal;
      font-weight: $mainFontWeight;
      font-size: $mainFontSize;
    }
  }
}
.wrap-header {
  .nav-menu {
    display: flex;
    justify-content: space-between;

    .menu {
      li:after {
        background-color: $shopMainColorFont;
      }
    }
    #burger-menu span {
      background-color: $shopSecondaryColorFont;
    }
  }

  .nav-phone {
    span {
      color: inherit;
    }
  }

  .ad-info {
    display: flex;
    width: 100%;
    margin-top: 15px;
    height: 45px;
    justify-content: space-between;
    @media (min-width: $smPhoneWidth) and (max-width: $tableWidth){
      flex-direction: column;
      height: auto;
    }
    &-search {
      display: flex;
      width: 50%;
      @media (min-width: $smPhoneWidth) and (max-width: $tableWidth){
        width: 100%;
        height: 45px;
      }
      &-form {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        input {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 20px;
          border: 2px solid $light-color;
          border-radius: 35px;
          outline: none;
          font-family: $secondaryFont;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 0;
          margin-right: 30px;
          z-index: 1;
          @media (min-width: $smPhoneWidth) and (max-width: $smDesktopWidth){
            margin-right: 0;
            width: 76%;
            border-top: 2px solid $light-color;
            border-left: 2px solid $light-color;
            border-bottom: 2px solid $light-color;
            border-right: none;
            border-radius: 35px 0 0 35px;
            padding-right: 35px;
          }
        }
        input:hover {
          border-color: $shopSecondaryColorFont;
        }
        button {
          background-color: white;
          @media (min-width: $smPhoneWidth) and (max-width: $smDesktopWidth) {
            width: 30%;
            height: 100%;
            right: 0;
            position: absolute;
            z-index: 2;
          }
        }
      }
    }
    &-buttons {
      @media (min-width: $smPhoneWidth) and (max-width: $tableWidth){
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
      button:first-child {
        margin-right: 30px;
      }
    }
  }
}
