// Font
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

// Size
$mainFontColor: #edeef2;
$shopMainColorFont: #757575;
$shopSecondaryColorFont: #752023;
$mainFontSize: 14px;
$TextFontSize: 28px;
$mainFontWeight: 100;
$normalFontWeight: 300;
$secondaryFontWeight: 500;
$boldFontWeight: 700;
$FontWeightHref: 400;
$mainLineHeight: 1.6;

$desktopWidth: 1200px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #edeef2;
$success-color: #222c35;
$warning-color: #fed330;
$light-color: #8c8c8c;
$border-color: #c4c4c4;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;
