@import "../../utils/vars";
@import "../../utils/mixins";
.site-bar {
  width: 20%;
  min-width: 265px;
}
.category:first-child {
  margin-top: 0;
}
.category {
 width: 100%;
 background-color: white;
  padding: 20px 15px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: $boldFontWeight;
  color: $success-color;
  line-height: 1.7;
  margin-top: 10px;
  border-radius: 5px;

  h5.title5 {
    font-size: rem(16px);
  }
  ul {
    margin-top: 15px;
    li:first-child {
      margin-top: 0;
    }
    li {
      font-weight: inherit;
      font-size: rem(12px);
      position: relative;
      margin-left: 35px;
      margin-top: 13px;
      height: 20px;
      cursor: pointer;
    }
    :before {
      content: url("../../../img/square.svg");
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      margin-top: -10px;
      left: -35px
    }
    :after {
      content: url("../../../img/check.svg");
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: -30px;
      opacity: 0;
      transition: .2s ease-in-out;
    }
    li.active:after {
      opacity: 1;
    }
  }
}
