@import "../../utils/vars";
.shop-list {
  width: 70%;
  position: relative;
  flex-basis: 70%;
  max-width: 920px;
  @media screen and (min-width: $desktopWidth) {
    width: 80%;
    flex-basis: 80%;
  }
  @media (max-width: $smDesktopWidth) and (min-width: $smPhoneWidth) {
    width: 100%;
    flex-basis: 100%;
  }
  &-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    flex-flow: row wrap;
    align-content: baseline;
    margin-top: -5px;
    &-item {
      width: 225px;
      height: 320px;
      font-family: 'Roboto', sans-serif;
      border-radius: 5px;
      margin-right: 5px;
      margin-top: 5px;
      background-color: white;
      text-align: center;
      padding: 25px 30px 15px 30px;
      @media (max-width: $smDesktopWidth) and (min-width: $smPhoneWidth) {
        margin-top: 5px;
      }
      @media (max-width: $tableWidth) and (min-width: $smPhoneWidth) {
        height: 270px;
      }
      @media (max-width: $smDesktopWidth) and (min-width: $tableWidth) {
        max-width: 185px;
        padding: 25px 10px;
      }
      @media (max-width: $tableWidth) and (min-width: $smPhoneWidth) {
        max-width: 150px;
        padding: 25px 10px;
        margin-left: 0;
      }

      img {
        width: 100%;
      }
      p {
        margin: 0;
        padding: 0;
        display: block;
        height: 34px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        @media (max-width: $phoneWidth) and (min-width: $smPhoneWidth) {
          font-size: 12px;
        }
      }
      a {
        margin: 15px auto 0;

      }
    }
  }
  p.info {
    display: block;
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
  button {
    display: block;
    margin: 30px auto 0;
  }
}

