/* autoprefixer grid: autoplace */
@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  font-style: normal;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: $mainFontSize;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $normalFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  h2.title2 {
    font-size: 24px;
    line-height: 28px;
  }
  &.modal-open {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  .shadow-bg {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @media screen and (min-width: $smDesktopWidth) {
      display: none;
    }
  }
  .loader {
    width: 100%;
    min-height: 500px;
    position: relative;
    &-animation {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 5px solid black;
      border-top-color: white;
      animation: 2s loader-spin infinite linear;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: $secondaryFontWeight;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  @media screen and (max-width: $desktopWidth) {
  }
  @media screen and (max-width: $desktopWidth) {
  }
  @media screen and (max-width: $desktopWidth) {
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $desktopWidth) {
    max-width: $smDesktopWidth;
  }
  @media (min-width: $tableWidth) and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media (min-width: $phoneWidth) and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media (min-width: $smPhoneWidth) and (max-width: $phoneWidth) {
    max-width: calc(#{$smPhoneWidth} - 10px);
  }
}

.main {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  @media (min-width: $smPhoneWidth) and (max-width: $phoneWidth) {
    align-items: flex-start;
    margin-top: 100px;
  }
}
// Modules
@import 'modules/wrapper.scss';
@import 'modules/header.scss';
@import 'modules/menu-toggle.scss';
@import 'modules/button.scss';
@import 'modules/title.scss';
@import 'modules/animation';
